.container{
  
  margin: 10px;
  margin-left:  20px;
  width:  1130px;
  /*height: 1;*/
  background: #fff;
  line-height: 1.3em;
}

.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

.axis{
  opacity:  .7;
}

text{
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}




p{
  max-width: 650px;
}

.container{
  width: 1200px;
  background: #fff;
}

.input, .outputs, .top-row{
  display: inline-block;
  padding: 10px;
  font-family: menlo, Consolas, 'Lucida Console', monospace; 
  position: relative;
  vertical-align: top;
  font-size: 12px;
}


.top-row > div{
  display: inline-block;
  width: 500px !important;
  vertical-align: top;
  margin-right: 70px;
  margin-bottom: -50px;
}

.input{
  background:  #eee;
}

.output{
  display: inline-block;
}

h3{
  /*padding-left: 10px;*/
  padding-top: 0;
  margin-top:  0;
  margin-bottom: 20px;
  font-size: 16px;
}

.output .active .token{
  outline: 1px solid #000;
}

.input-active{
  outline: 4px solid lightblue;
}

.circle-active circle{
  stroke: lightblue;
  stroke-width: 2;
}
.circle-active text{
  display: block !important;
  stroke: none;
}

.shift-active{
  /*text-decoration: underline;*/
  font-weight: 800;
  outline: 2px solid purple;
  z-index: 1000;
  pointer-events: none;
}
.hover-active{
  text-decoration: underline;
}


.output > div{
  /*user-select: none;*/
  cursor: pointer;
}

.token{
  user-select: none;
}


